/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Lato:wght@400;700;900&display=swap');

/*geral*/
body{
    margin: 0;
    padding: 0;
    background-color: #212226;
    font-family: 'Lato', sans-serif;
    color: #FFE7DA;
    scroll-behavior: smooth;
}

/*desktop*/
@media (min-width: 720px) {
    body{
        overflow: hidden;
    }
}

/*mobile*/
@media (max-width: 720px) {
    body{
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        font-size: 1em;
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
} 

/*índice*/

.indice{
    background-color: #4B1C55;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 6;
    justify-content: flex-start;
}

.indice-logo{
    display: block;
    position: relative;
    padding-top: .5em;
}

.topicos{
    width: 80%;
    text-align: left;
    font-weight: 700;
    font-size: 1em;
}

.topicos-titulo{
    margin-top: .25em;
    margin-bottom: .25em;
    color: #FFE7DA;
    font-weight: 900;
    color: #FF975C;
    font-size: 1.25em;
    padding-top: 2em;
}

.topicos a{
    text-decoration: none;
    color: #FFE7DA;
}

.topicos a:hover{
    text-decoration: underline;
}

#goTopo{
    display: block;
    background-color: #4B1C55;
    border-radius: 30px;
    right: 16px;
    bottom: 16px;
    size: 60px;
    z-index: 5;
    box-shadow: rgba(0,0,0,.3) 3px 1.5px 1.5px;
}

/*desktop*/
@media (min-width: 720px) {
    .indice{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 25%;
        scrollbar-width: auto;
        scrollbar-color: #FF975C #4B1C55;
        padding: 1em;
    }

    .indice::-webkit-scrollbar {
        width: 16px;
    }
    
    .indice::-webkit-scrollbar-track {
        background: #4B1C55;
    }
    
    .indice::-webkit-scrollbar-thumb {
        background-color: #FF975C;
        border-radius: 10px;
        border: 3px solid #4B1C55;
    }

    .indice-logo img{
        max-width: 70%;
    }

    #goTopo{
        position: hidden;
    }
}

/*mobile*/
@media (max-width: 720px) {
    .indice{
        position: relative;
        top: 0px;
        left: 0px;
        height: auto;
        width: 100%;
        padding: 2em;
        padding-bottom: 1em;
        font-size: 1.5em;
    }

    .indice-logo img{
        max-width: 80%;
        margin-bottom: -10%;
        margin-top: -10%;
    }

    #goTopo{
        position: fixed;
    }
}



/*main*/
.conteudo{
    background-color: #212226;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
}

.conteudo a{
    color: #F0769A;
}

.topico{
    width: 100%;
    margin-bottom: 3em;
    
}

.topico-title{
    color: #FF975C;
    margin: 0;
    text-align: left;
}

.topico-subtitle{
    color: #F0769A;
    text-align: left;
}

.topico-text{
    text-align: left;
}

.text-destaque{
    font-weight: bold;
    color: #F0769A;
}

.topico-ul{
    text-align: left;
    margin: 0;
}

#colaboradores{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.colaborador{
    justify-content: flex-start;
}

.colaborador img{
    max-width: 160px;
    box-sizing: border-box;
    border-radius: 80px;
    padding: 10px;
}

.colaborador-title{
    font-size: 1em;
    color: #F0769A;
    font-weight: bold;
    text-align: center;
}

.colaborador-text{
    font-size: 1em;
    margin: 0;
    color: #FFE7DA;
    text-align: center;
}


/*desktop*/
@media (min-width: 720px) {
    .conteudo{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 75%;
        scrollbar-width: auto;
        scrollbar-color: #FF975C #212226;
        padding-top: 1em;
    }

    .conteudo::-webkit-scrollbar {
        width: 16px;
    }
    
    .conteudo::-webkit-scrollbar-track {
        background: transparent;
        z-index: 4;
    }
    
    .conteudo::-webkit-scrollbar-thumb {
        background-color: #FF975C;
        border-radius: 10px;
        border: 3px solid #212226;
    }

    .conteudo a{
        text-decoration: none;
    }
    
    .conteudo a:hover{
        text-decoration: underline;
    }

    .conteudo-block{
        max-width: 720px;
        padding-left: 2em;
        padding-right: 2em;
    }

    .topico-title{
        font-size: 2.5em;
    }

    .colaborador{
        width: 160px;
        height: 200px;
        padding: 0 0 20px 0;
    }
    
    .colaborador img{
        max-width: 120px;
        box-sizing: border-box;
        border-radius: 50%;
        padding: 10px;
    }

}

/*mobile*/
@media (max-width: 720px) {
    .conteudo{
        position: relative;
        top: 0px;
        right: 0px;
        height: auto;
        width: 100%;
        padding-top: .5em;
    }

    .conteudo-block{
        max-width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;
    }

    .conteudo a{
        text-decoration: underline;
    }

    .topico-title{
        font-size: 1.5em;
    }


    .colaborador{
        width: 100%;
        height: auto;
        margin: 20px;
    }
    
    .colaborador img{
        max-width: 80%;
        box-sizing: border-box;
        border-radius: 50%;
        padding: 10px;
    }
}

.diagram{
    width: 100%;
    padding: 0;
}

#diagram{
    cursor: pointer;
    max-width:100%;
    max-height:322px;
    background-color: gainsboro;
}

.rodape{
    margin-top: -50px;
    color: #FF975C;
    font-weight: bold;
    position: relative;
    width: 100%;
    background-color: #212226;
    box-sizing: border-box;
    padding: 20px;
    z-index: 5; 
}

.rodape-links{
    width: 210px;
}

.rodape-links img{
    height: 50px;
    box-sizing: border-box;
}

.rodape-links a{
    padding: 0 10px 0 10px;
}

#caenc{
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}

