/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Lato:wght@400;700;900&display=swap');

/*geral*/
body{
    margin: 0;
    background-color: #212226;
    font-family: 'Lato', sans-serif;
    color: #FFE7DA;
    overflow: hidden;
}

.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align: start;
}

/*índice*/

nav{
    background-color: #4B1C55;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav div{
    display: block;
    position: relative;
    text-align: center;
}

.nav_sobtitle{
    font-family: 'Bungee', cursive;
    font-size: 1.25em;
    color: #F0769A;
    margin-bottom: -1em;
}

.nav_title{
    font-family: 'Bungee Inline', cursive;
    font-size: 2.5em;
    color: #FF975C;
    margin: .5em;
}

div.nav_title p{
    margin: -1.5em;
}

.nav_subtitle{
    font-family: 'Bungee', cursive;
    font-size: 1em;
    color: #F0769A;
}

div.nav_subtitle p{
    margin: -1.3em;
}

.nav_anchors{
    width: 80%;
    text-align: left;
    font-weight: 700;
    padding: 1em;
}

.nav_anchors p{
    margin-top: .25em;
    margin-bottom: .25em;
}

.nav_anchors p a:hover{
    text-decoration: underline;
}

.section{
    color: #FFE7DA;
    font-weight: 900;
    color: #FF975C;
    font-size: 1.25em;
    padding-top: 2em;
}

nav {
    scrollbar-width: auto;
    scrollbar-color: #FF975C #4B1C55;
}

nav::-webkit-scrollbar {
    width: 16px;
}

nav::-webkit-scrollbar-track {
    background: #4B1C55;
}

nav::-webkit-scrollbar-thumb {
    background-color: #FF975C;
    border-radius: 10px;
    border: 3px solid #4B1C55;
}